*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$clr-map: (
    "c-background": rgba(19, 21, 24, 1),
    "c-primary": radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%),
    "c-accent": rgba(252, 118, 20, 1),
    "c-neutral-1000": rgba(255, 255, 255, 1),
    "c-neutral-600": rgba(150, 159, 173, 1),
    "c-neutral-500": rgba(124, 135, 152, 1),
    "c-neutral-100": rgba(38, 46, 56, 1)
);

$fs-desktop: (
    "fs-big": 2.8rem,
    "fs-medium": 1.6rem,
    "fs-medium-small": 1.5rem
);

$fs-mobile: (
    "fs-big": 2.4rem,
    "fs-medium-small": 1.4rem
);

$font-weight-400: 400;
$font-weight-700: 700;

body,
html{
    overflow-x: hidden;
    max-width: 100vw;
    background-color: map-get($clr-map, c-background  );
}
html{
    font-size: 62.5%;
    font-family: 'Overpass', 'sans-serif';
    font-weight: $font-weight-400;
    color: map-get($clr-map, c-neutral-1000 );
}
button{
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}